@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #c5fcca;
}

h1 {
    font-weight: bold;
}

.btn-custom {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #6cff43;
    border-color: #000000;
}

.btn-custom:active {
    background-color: #ffffff;
    border-color: #ffffff;
}