@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #bbdffaab !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

h1 {
    font-weight: bold;
}

.btn-custom {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #6e6bff;
    border-color: #000000;
}

.btn-custom:active {
    background-color: #ffffff;
    border-color: #646464;
}

.container {
    max-width: 100%; /* Asegura que el contenedor no exceda el ancho de la pantalla */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}
